/* header banner */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url('../banner2.png');
    width: 1600px;
height: 809px;

}
.banner{
  
    margin:0px 200px;
    align-items: center;

}
.banner-sub-title{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #151414;
    margin-left: 700px;
    padding:15px ;
    padding-top: 216px;

}
.banner-description{
    
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    margin-left: 780px;
    padding-top: 20px;
    

}
.button{
    height: 64px;
    border-radius:5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    background-color: #FD6E0A;
    padding: 18px 36px 39px ;
    margin-left: 980px;
    margin-top: 30px;
}
/* main class */
.information-past{
   
   background-image: url('../person.png');
  background-repeat: no-repeat;
  margin-left: 150px;
  margin-top: 130px;

   
}
.banner2-sub-title{
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    width: 288px;
    height: 94px;
    margin-left: 770px;
    padding-top: 300px;
}
.banner2-description{

    margin-left: 800px;
    margin-top: 24px ;
    /* font-weight: 400; */
    font-size: 16px;
    padding:0px 200px 16px 0px;
    color: #444343;
}
.primary{
    margin-top: 5px;
    color: #444343;
    font-size: 16px;
}
.dtl-primary{
    width: 349px;
    height: 162px;
    padding:0px 200px 16px 0px;
    text-align: left;
    list-style: none;
    margin-left:803px ;
}
/* my plan */
.my-plan{
    margin-top:130px ;
    text-align: center;
    color: #151414;
   
}
.skills-container{
    display: flex;
    gap: 24px;
}
.section-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
/* skill */

.skill{
    margin-top: 45px;
    width: 1141px;
    height: 299.96px; 

}
.skill-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.skill-description{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
}
/* call-now */

.call-now{
    margin-top: 124px;
    width: 1140px;
    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); 
    
}
.motivation{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 65px;
    padding-left: 64px;
    padding-right:600px ;

}
.button1{
    margin: 17px;
    margin-left: 64px; 
    width: 160px;
    height: 64px;
}
/* contact style */
.footer{
    width: 1600px;
    height: 577px;
    background-color: #151414;
}
.contact{
    display: flex;
    color: #FFFFFF;
    margin-left: 200px;
    gap: 330px;
}
.section-style{
    padding-top: 130px;
    font-weight: 700;
    font-size: 45px;
}
.section-details{
    margin-top: 16px;
    width: 485px;
    height: 78px;
    font-size: 16px;
}
.email{
    padding-top: 24px; 
    width: 184px;
    height: 26px;
}
.phone{
    padding-top: 16px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
}

.section-style1{
    padding-top: 130px;
    padding-right: 400px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;

}

input{
    background-color:black ;
    color: #FFFFFF;
    margin-top: 31px;
    padding: 21px 140px 22px 28px ;    
}
.subscribe{
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 26px 20px 36px;
    color: #F15B22;
}
